  


  
  <!--AJOUT D'UN PRODUIT-->
  <!-- <div class="container-fluid">
    <div class="input-group ">
      <input  #nomProduit type="text" class="form-control" name="nomProduit placeholder="NOM NOUVEAU PRODUIT">
      <input  #descriptionProduit type="text" class="form-control" name="descriptionProduit placeholder="DESCRIPTION NOUVEAU PRODUIT">
      <input  #quantiteProduit type="number" class="form-control" name="quantiteProduit placeholder="QUANTITE STOCK NOUVEAU PRODUIT">
      <input  #prixProduit type="number" class="form-control" name="prixProduit placeholder="PRIX NOUVEAU PRODUIT">
      <input  #dispoProduit type="text" class="form-control" name="dispoProduit placeholder="DISPONIBLITE NOUVEAU PRODUIT">
      <span class="input-group-addon">
          <button (click) = "postProduit(nomProduit.value,descriptionProduit.value ,quantiteProduit.value ,prixProduit.value 
          ,dispoProduit.value) ;nomProduit.value='' ;descriptionProduit.value = '' ;quantiteProduit.value ='' ; prixProduit.value = ''
          ;dispoProduit.value = '';"; 
          " class="btn btn-primary  btn-default">
            Ajouter Equipe
          </button>
      </span>   
    </div> -->

  <table >
      <th>ID</th>
      <th>NOM</th>
      <th>DESCRIPTION</th>
      <th>QUANTITESTOCK</th>
      <th>PRIX</th>
      <th>DISPOVENTE</th>
      <tr *ngFor="let p of listeProduit">
        <td>{{p.Id}}</td>
        <td>{{p.Nom}}</td>
        <td>{{p.Description}}</td>
        <td>{{p.QuantiteStocke}}</td>
        <td>{{p.Prix}}</td>
        <td>{{p.DispoVente}}</td>
      </tr>
  </table>

