<div class="form-horizontal pad-10">
  <br>
  <form [formGroup]="produitForm">
    <div class="col-md-6 form-group">
      <label class=" control-label">Libéllé Produit</label>
      <div class="col-md-12 no-padding">
        <input name="libelle" id="libelle" formControlName="libelle" class="form-control" placeholder="" type="text" />
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label class=" control-label">Coefficient Produit</label>
      <div class="col-md-12 no-padding">
        <input name="coefficient" id="coefficient" formControlName="coefficient" class="form-control" placeholder="" type="number" />
      </div>
    </div>
    <div class="pad-10">
      <button mwlConfirmationPopover
              [popoverTitle]="'Confirmation'"
              [popoverMessage]="'êtes-vous sûr?'"
              placement="top"
              (confirm)="createProduit(produitForm.value)"
              type="submit" class="btn btn-save btn-primary" [disabled]="!produitForm.valid">
        <span class="glyphicon glyphicon-floppy-disk"></span> Sauvegarder
      </button>
    </div>
  </form>
</div>
