<div class="row">
  <div class="col-md-12 pad-10">
    <button type="submit" class="btn btn-primary" (click)="goToAddProduit()">
      <span class="glyphicon glyphicon-floppy-disk"></span> Ajout Produit
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>nomProduit</th>
    <th>descriptionProduit</th>
    <th>quantiteEnStock</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of produits$| async;">
    <td>{{ p.nomProduit }}</td>
    <td>{{ p.descriptionProduit }}</td>
    <td>{{ p.quantiteEnStock }}</td>
    <td>
      <div>
        <button class="btn" (click)="deleteProduit(p.idProduit)">Supprimer</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
